<style>
body {
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 70px;
	padding-right: 70px;
}
</style>
<form ng-submit="submit()">
	Enter text and hit submit: <input type="text" ng-model="text"
		name="text" placeholder="Search here" /> <input type="submit"
		id="submit" value="Submit" />
</form>
<div class="page-header">
	<h1>{{numfound}} Results</h1>
</div>
<div ng-show="solrerror" ng-hide="solrsuccess"
	class="alert alert-danger" role="alert">
	<strong>Error</strong> solr instance returned an error.
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Manufacturer</th>
					<th>Manufacturer id</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="result in results | filter:search | orderBy:'name'">
					<td><a ng-href="{{result.id}}" target="_blank">{{result.id}}</a></td>
					<td>{{result.name}}</td>
					<td>{{result.manu}}</td>
					<td>{{result.manu_id}}</td>
					<td>{{result.price}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

